.level-lists-header {
	display: flex;
	margin-bottom: 10px;
}

.level-lists-header__save {
	margin-left: 10px;
}

.level-lists {
	display: flex;
	height: 100%;
}

.level-list {
	height: 100%;
	width: 200px;
	border: 1px solid #ddd;
	padding-bottom: 50px;
}

.level-list__title {
	text-align: center;
	font-size: 16px;
	padding: 10px 0;
}

.list-item {
	padding: 0 10px;
	border-top: 1px solid #ddd;
	display: flex;
	height: 50px;
	align-items: center;
}

.list-item:last-child {
	border-bottom: 1px solid #ddd;
}


.list-item__title {
	flex-grow: 1;
}

.list-item__delete {
	border-width: 0;
	background: none;
	cursor: pointer;
}
